/*|=============== OUT-OF-THE-BOX CSS SOLUTIONS ===============|*/
/*|=============== ГОТОВЫЕ РЕШЕНИЯ НА CSS ===============|*/
/*|CM| Used to hide elements without breaking accessibility */
/*|CM| Используется для скрытия элементов без нарушения доступности */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

/*|=============== STYLING THE BASIC ELEMENTS AND MIXES ===============|*/
/*|CM| Elements like body, svg, path, etc. are usually found here. */
/*|=============== СТИЛИЗАЦИЯ БАЗОВЫХ ЭЛЕМЕНТОВ И МИКСОВ ===============|*/
/*|CM| Здесь обычно находятся такие элементы, как body, svg, path и т.д. */



/*|=============== STYLING THE MAIN ELEMENTS ===============|*/
/*|CM| This is usually where the header, section, and footer styles are located */
/*|=============== СТИЛИЗАЦИЯ ОСНОВНЫХ ЭЛЕМЕНТОВ ===============|*/
/*|CM| Здесь обычно находятся стили для шапки, секций и подвала */

/*|=============== SITE HEADER ===============|*/
/*|=============== ШАПКА САЙТА ===============|*/

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
/*|EV| Описываем эффекты CSS (такие, как - hover, active, focus)  */

/*|EV| Describing JS events (such as - click)  */
/*|EV| Описываем события JS (такие, как - click)  */

/*|=============== SECTION ===============|*/
/*|=============== СЕКЦИЯ ===============|*/

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
/*|EV| Описываем эффекты CSS (такие, как - hover, active, focus)  */

/*|EV| Describing JS events (such as - click)  */
/*|EV| Описываем события JS (такие, как - click)  */

/*|=============== SECTION ===============|*/
/*|=============== СЕКЦИЯ ===============|*/

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
/*|EV| Описываем эффекты CSS (такие, как - hover, active, focus)  */

/*|EV| Describing JS events (such as - click)  */
/*|EV| Описываем события JS (такие, как - click)  */

/*|=============== SECTION ===============|*/
/*|=============== СЕКЦИЯ ===============|*/

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
/*|EV| Описываем эффекты CSS (такие, как - hover, active, focus)  */

/*|EV| Describing JS events (such as - click)  */
/*|EV| Описываем события JS (такие, как - click)  */

/*|=============== SITE FOOTER ===============|*/
/*|=============== ПОДВАЛ САЙТА ===============|*/

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
/*|EV| Описываем эффекты CSS (такие, как - hover, active, focus)  */

/*|EV| Describing JS events (such as - click)  */
/*|EV| Описываем события JS (такие, как - click)  */
