/*|=============== VARIABLES ===============|*/
:root {
  /*|========== FONT-FAMILY ==========|*/
  /*|CM| Main font-family */
  --primary-font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", Ubuntu, Cantarell, sans-serif;
  /*|CM| Additional font-families */
  --second-font-family: "Gelasio", "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;

  /*|========== COLOR ==========|*/
  /*|CM| Change favorite color (Persian Red - 4) */
  --hue-color: 4;
  /*|CM| HSL color mode */
  --primary-color: hsl(var(--hue-color) 57% 51%);
  --second-color: hsl(var(--hue-color) 57% 51% / .1);
  --third-color: hsl(0 100% 0% / .1);
  --fourth-color: hsl(0 100% 0% / .08);
  --fifth-color: hsl(0 100% 0% / .6);
  --sixth-color: hsl(0 100% 0% / .15);
  --seventh-color: hsl(183 60% 37% / .04);
  --eighth-color: hsl(0 100% 0% / .3);
  /*|CM| Universal colors */
  --white-color: hsl(0 0% 100%);
  --black-color: hsl(0 100% 0%);

  /*|========== FONT-WEIGHT ==========|*/
  /*|CM| Main font-weight */
  --primary-font-weight: 500;
  /*|CM| Additional font-weights */
  --second-font-weight: 700;

  /*|========== FONT-SIZE ==========|*/
  /*|CM| Base font-size ( .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...) */
  --text-size-base: 1rem;
  /*|CM| Different font-size options */
  --text-size-medium: calc(var(--text-size-base) + .125rem);
  --text-size-big: calc(var(--text-size-base) + .25rem);
  --text-size-large: calc(var(--text-size-base) + .5rem);
  --text-size-huge: calc(var(--text-size-base) + 1.688rem);
  --text-size-max-tiny: calc(var(--text-size-base) + 3.063rem);

  /*|========== LINE-HEIGHT ==========|*/
  /*|CM| Main line-height */
  --primary-lh: 1.5;
  /*|CM| Additional lines-heights */
  --second-lh: 1.6;
  --third-lh: 1.4;
  --fourth-lh: 1.2;

  /*|========== BORDER-RADIUS ==========|*/
  /*|CM| Main border-radius */
  --primary-br: 5px;
  /*|CM| Additional border-radiuses */
  --second-br: 10px;

  /*|========== BACKGROUND IMAGE ==========|*/
  /*|CM| All background pictures are located here */
  --primary-bgi: url("../images/hero/hero-picture.jpg");

  /*|========== BACKGROUND COLOR ==========|*/
  /*|CM| Specifying a fallback color for background images */
  --primary-fb-color: hsl(260 2% 30%);

  /*|========== GAP ==========|*/
  /*|CM| Specify the same indentation between blocks */
  --primary-gap: 2.25rem;
  --second-gap: 4.625rem;
  --third-gap: 2.1875rem;
  --fourth-gap: 8.125rem;

  /*|========== TRANSITION ==========|*/
  /*|CM| Duration of effects (most effective .2 to .4s) */
  --fast-transition-duration: .2s;
}
